.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbarSpacer {
  margin-top: 3rem;
}

.homePageSpacer {
  margin-top: 4.5rem;
}

.setTeamsSpacer {
  margin-top: 5rem;
}

.tableHeader {
  cursor: pointer;
}

.tableHeader:hover {
  color: rgba(128, 128, 128, 0.609);
}

.roundedBorder {
  border: 1.5px solid rgba(228, 228, 228, 0.659);
  border-radius: 6px;
}

.fontAwesomeIcon {
  margin-bottom: 0.1rem;
  margin-right: 0.3rem;
  font-size: large;
}

.myForm {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 2rem;
}

.myFormRow {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}

.myFormRowCentered {
  justify-content: center;
}

.myLabel {
  font-size: large;
  margin-top: 0.5rem;
  width: 8rem;
}

.myInput {
  border: 1.5px solid rgba(228, 228, 228, 0.659);
  border-radius: 6px;
  font-size: large;
  padding: 0.5rem;
}

.myTextInput {
  width: 12rem;
}

.myNumberInput {
  width: 5rem;
}

.myColumn {
  display: flex;
  flex-direction: column;
}

.myRow {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}

.oneThirdColumn {
  width: 33%;
  min-width: 25rem;
}

.playerName:hover {
  color: #00b5d8;
}
